[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
numpy = "*"
pyglet = "*"
cython = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
jupyter = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
